@model RifaViewModel
@{
    ViewData["Title"] = "EditarRifa";
    var res = ViewBag.res;
    var r = ViewBag.r;
    var listaUsuarios = ViewBag.listaUsuarios as List<Usuarios>;

   

}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div class="text-center">
        <h1 class="display-4">Rifa - Juntos por um bem Maior</h1>

    </div>


    <div>

        <label> Digite o nome do comprardor: </label>
        <input type="hidden" id="nome" asp-for="NomeId" />
        <select id="nomes" name="nomes">
            @foreach (var x in listaUsuarios)
            {
                <option value="@x.Id,@x.Nome,@x.Pagos,@x.NaoPagos">@x.Nome</option>
            }
        </select>
        <label> Números pagos: </label>  <label id="pagos"></label>
        <label> Números não pagos: </label>   <label id="naopagos"></label>




        <input type="submit" value="enviar" />
    </div>

</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    jQuery("#nomes").change(function () {

        var dados = jQuery(this).val();
        var separacao = dados.split(',');
        document.getElementById("pagos").innerHTML = separacao[2];
        document.getElementById("naopagos").innerHTML = separacao[3];

    });
    
</script>