@model RifaViewModel
@{
    ViewData["Title"] = "EditarNumero";
    var res = ViewBag.res;
    var r = ViewBag.r;
    var listaUsuarios = ViewBag.listaUsuarios as List<JPBM.Entidades.Usuarios>;
}
<html>
<body>
    <table style="width:100%">
        <tr>
            <th><img src="~/images/logojpbm.png" align="left" width=100 height=100></th>
            <th>
                <div class="text-center">
                    <h1 class="display-4">Editar Números</h1>
                </div>
            </th>
            <th><img src="~/images/logojpbm.png" align="right" width=100 height=100></th>
        </tr>
    </table>
    <br /><br />
</body>
</html>

<input type="hidden" id="res" name="res" value="@res" />
<input type="hidden" id="r" name="r" value="@r" />
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="EditarNumero">

    <div>
        <label>Digite o número para alterar: </label>
        <input type="text" id="numero" asp-for="Numeros" placeholder="Exemplo: 1,45,32,58" />
        <input type="submit" value="enviar" />
    </div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var resposta = document.getElementById("res").value;
        var respostaa = document.getElementById("r").value;


        if (resposta == 1) {
            alert("Numeros não vendidos: " + respostaa);
        } else if (resposta == 2) {
            alert("Informe apenas numeros no campo de numeros.");
        }
    });

</script> 